<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic"
      rel="stylesheet"
    />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css' integrity='sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==' crossorigin='anonymous'/>
    <link rel="stylesheet" href="css/output.css" />
    <title>Inventory</title>
  </head>
  <body class="bg-myBodyBg text-white font-['Poppins','cursive']">
    <div class="mx-auto w-full h-full">
      <%- include('./partials/operations/operation_cards.ejs') %>
      <%- include('./partials/listing/searchProduct.ejs') %>
      <%- include('./partials/listing/ListingHeader.ejs') %>
      <%- include('./partials/listing/ProductsInfo.ejs') %>
    </div>
    <script src="js/productInfo.js"></script>
  </body>
</html>
