<div class="w-full">
  <div class="w-[90%] mx-auto rounded-lg bg-[#2f2f37] text-[#adadad] flex text-center mt-12  items-center shadow-lg py-3">
      <h5 class="w-[18%]">Image</h5>
      <h5 class="w-[18%]">Product Id</h5>
      <h5 class="w-[18%]">Product name</h5>
      <h5 class="w-[18%]">Q. in stock</h5>
      <h5 class="w-[18%]">Date Added</h5>
      <h5 class="w-[18%]">Price</h5>
      <h5 class="w-[18%]">Category</h5>
      <h5 class="w-[18%]">Action</h5>
    </div>
</div>