<div class="w-[90%] rounded-lg bg-[#1e1f23] text-[#adadad] flex mt-12 text-center py-5 items-center shadow-lg">
    <div class="w-[18%] rounded-full">Hello</div>
    <h5 class="w-[18%]">123</h5>
    <h5 class="w-[18%]">Gift</h5>
    <h5 class="w-[18%]">100</h5>
    <h5 class="w-[18%]">Uk</h5>
    <div class="w-[18%] flex justify-center items-center gap-2">
        <button class="bg-[#33E67A] font-bold rounded-lg text-black px-3 text-xs py-1">
            Edit
        </button>
        <button class="bg-[#33E67A] font-bold rounded-lg text-black px-3 text-xs py-1">
            Delete
        </button>
    </div>
</div>