<div class="w-full">
    <div class="w-[90%] mx-auto relative mt-12">
        <i class="fa-solid fa-magnifying-glass text-2xl text-white absolute top-1/2 left-4 transform -translate-y-1/2"></i>
        <input type="text" id="searchInput" placeholder="Search product here" class="w-full rounded-3xl bg-[#454545] py-2 pl-20 focus:outline-none">
    </div>
</div>
