<div class="w-full">
    <div class="w-full mx-auto rounded-lg bg-[#2f2f37] text-[#adadad] flex text-center mt-12 items-center shadow-lg py-3">
        <% heading.forEach(header => { %>
            <h5 class="w-1/2"><%= header %></h5>
        <% }) %>
    </div>
</div>
