<div class="min-h-screen flex justify-center items-center">
    <div class="bg-[#1F2024] w-[90%] h-[90%] p-8 rounded-lg shadow-lg flex flex-col justify-center items-center">
        <h1 class="text-5xl text-white mb-8">Insert Product</h1>
        <form action="/insert" method="POST" enctype="multipart/form-data" class="space-y-4 w-full max-w-md">
            <div>
                <label for="productImage" class="text-white">Product Image:</label>
                <input type="file" id="productImage" name="productImage" accept="image/*" class="mt-1 ">
            </div>
            
            <div>
                <label for="productName" class="text-white">Product Name:</label>
                <input type="text" id="productName" name="productName" required class="mt-1 px-3 py-2 bg-[#41444d] text-white rounded-lg w-full outline-none">
            </div>
            
            <div>
                <label for="category" class="text-white">Category:</label>
                <input type="text" id="category" name="category" required class="mt-1 px-3 py-2 bg-[#41444d] text-white rounded-lg w-full outline-none">
            </div>
            
            <div>
                <label for="quantity" class="text-white">Quantity in Stock:</label>
                <input type="number" id="quantity" name="quantity" required class="mt-1 px-3 py-2 bg-[#41444d] text-white rounded-lg w-full outline-none " style="-moz-appearance: textfield;">
            </div>            
            
            <div>
                <label for="location" class="text-white">Location:</label>
                <input type="text" id="location" name="location" required class="mt-1 px-3 py-2 bg-[#41444d] text-white rounded-lg w-full">
            </div>
            
            <button type="submit" class="bg-[#33e67a] hover:bg-[#30995a] text-black font-bold py-2 px-4 rounded w-full">Submit</button>
        </form>
    </div>
</div>
