<div class="w-full h-full mt-12">
    <div class="w-[90%] h-1/6 mx-auto flex gap-12">
        <a href="/"
            class="w-1/2 h-full bg-myCardBg shadow-2xl py-12 flex gap-4 flex-col items-center rounded-3xl justify-center hover:contrast-125 transition ease-in-out duration-300 cursor-pointer">

            <h1 class="text-5xl">Home</h1>
            <i class="fa fa-home text-5xl"></i>
        </a>
        <a href="/insert"
            class="w-1/2 h-full bg-myCardBg py-12 shadow-2xl flex gap-4 flex-col items-center rounded-3xl justify-center hover:contrast-125 transition ease-in-out duration-300 cursor-pointer">
            <h1 class="text-5xl">Insert</h1>
            <img src="images/icons/insert.svg" alt="" class="h-12 w-1/2" />
        </a>
    </div>
</div>