<div class="w-full bg-myCardBg my-40 scroll-effect" id="About">
    <div class="w-[90%] mx-auto justify-around flex items-center gap-12">
        <div class="w-3/5 text-gray-300">
            <h1 class="text-5xl text-center pb-6">About us</h1>
            <h4 class="text-2xl text-center">We are a software-based company founded by two passionate tech enthusiasts to revolutionize inventory management. Our mission is to simplify your inventory processes using advanced SQL database solutions. Trust Nizventory to efficiently track, organize, and manage your inventory with ease and accuracy. Join us in enhancing productivity and bringing innovative solutions to your inventory needs.</h4>
        </div>
        <img src="images/About.svg" alt="" class="w-2/5">
    </div>
</div>