<div class="w-full mx-auto overflow-hidden flex bg-myCardBg h-[90vh] mb-40">
    <div class="w-1/2 mx-auto relative flex items-center pt-44 text-5xl lg:flex-col lg:pl-16">
        <h1 class="leading-tight">
            Welcome to <span class="text-myGreen font-bold">Nizventory</span>, the <span class="text-yellow-500 font-bold">solution</span> for all your inventory management needs.
        </h1>
        <div class=" flex gap-8 text-base pt-12">
            <button class="bg-myGreen rounded-lg text-black px-3 py-3 hover:opacity-70 transition duration-300 ease-in-out">View Products</button>
            <button class="bg-yellow-500 rounded-lg text-black px-3 py-3 hover:opacity-70  transition duration-300 ease-in-out">Manage Inventory</button>
        </div>
    </div>
    <div class="w-1/2 mx-auto pl-16">
        <img src="images/Banner.svg" alt="Banner Image" class="h-full">
    </div>
</div>