<div class="w-full mb-40 bg-myCardBg py-12 scroll-effect">
    <h1 class="text-center text-gray-500 text-5xl pb-20">Trusted By</h1>
    <div class="w-[90%] mx-auto flex justify-around">
        <i class="text-6xl text-gray-500 fa-brands fa-wordpress"></i>
        <i class="text-6xl text-gray-500 fa-brands fa-ebay"></i>
        <i class="text-6xl text-gray-500 fa-brands fa-etsy"></i>
        <i class="text-6xl text-gray-500 fa-brands fa-shopify"></i>
        <i class="text-6xl text-gray-500 fa-brands fa-wix"></i>
        <i class="text-6xl text-gray-500 fa-brands fa-amazon"></i>
    </div>
</div>