<div class="w-full pt-14 flex justify-center items-center scroll-effect">
    <div class="w-[90%] flex justify-around">
        <div class="h-40 w-80 bg-[#1B1C20] flex justify-center items-center rounded-lg shadow-lg">
            <h1 class="text-[#33E67A] text-4xl font-bold text-center">Home</h1>
        </div>
        <div class="h-40 w-80 bg-[#1B1C20] flex justify-center items-center rounded-lg shadow-lg">
            <h1 class="text-[#F7AD3B] text-4xl text-center font-bold">Add <br>Products</h1>
        </div>
        <div class="h-40 w-80 bg-[#1B1C20] flex justify-center items-center rounded-lg shadow-lg">
            <h1 class="text-[#F7463B] text-4xl text-center font-bold">Delete<br>Product</h1>
        </div>
    </div>
</div>