<div class="w-full bg-[#555966] text-white">
    <div class="w-[90%] mx-auto flex justify-between gap-12 py-16">
        <img src="images/logo.svg" alt="NZ logo" class="w-1/5">
        <div class="w-1/5"></div>
        <div class=" flex flex-col w-1/5 gap-12 pt-12">
            <h2 class="text-base font-bold gap-12">Links</h2>
            <div class="flex flex-col gap-8 text-xs">
                <a href="#">Home</a>
                <a href="#">Products</a>
                <a href="#">Suppliers</a>
            </div>
        </div>
        <div class=" flex flex-col w-1/5 gap-12 pt-12">
            <h2 class="text-base font-bold gap-12">Contact Us</h2>
            <div class="flex flex-col gap-8 text-xs">
                <a href="#">Instagram</a>
                <a href="#">Linkedin</a>
                <a href="#">YouTube</a>
            </div>
        </div>
        <div class=" flex flex-col w-1/5 gap-12 pt-12">
            <h2 class="text-base font-bold gap-12">Resources</h2>
            <div class="flex flex-col gap-8 text-xs">
                <a href="#">ERD Diagram</a>
                <a href="#">Schema</a>
                <a href="#">Queries</a>
            </div>
        </div>
    </div>
</div>