<div class="w-full bg-myCardBg mb-40 scroll-effect">
    <div class="w-[90%] mx-auto justify-around flex items-center gap-12">
        <img src="images/LongCard.svg" alt="" class="w-2/5">
       <div class="w-3/5 text-gray-300">
            <h1 class="text-5xl text-center pb-6">Why us?</h1>
            <h4 class="text-2xl text-center">Choose Nizventory for robust and scalable inventory solutions, unparalleled security, and customizable reporting. Enjoy seamless integration, a user-friendly interface, and dedicated expert support. Elevate your business with the precision and efficiency of Nizventory.</h4>
       </div>
      
    </div>
</div>