<div class="max-w-full  mx-auto flex justify h-16 bg-[#555966]">
    <img src="/images/logo.svg" alt="" class="w-2/6">
    <div class="w-4/6 flex items-center text-sm justify-around">
        <a href="/">Home</a>
        <a href="/products">Products</a>
        <a href="/inventory">Inventory</a>
        <a href="#About">About Us</a>
        <div class="relative">
            <i class="fas fa-search absolute left-2 top-1/2 transform -translate-y-1/2 text-gray-500"></i>
            <input type="text" placeholder="Search here" class="outline-none pl-8 rounded-lg py-1 bg-[#1B1C20] text-gray-300">
        </div>
    </div>
</div>