<div class="w-full mb-40 py-12 scroll-effect">
   <h1 class="text-5xl text-white text-center pb-20">Top Managed Products</h1>
    <div class="w-[90%] mx-auto flex gap-12 transition ease-in-out duration-500">
        <div class="w-1/3 pt-6 bg-myCardBg rounded-xl shadow-2xl">
            <img src="images/shoes.svg" alt="" class="ml-12 h-96 w-96">
            <h1 class="text-center py-14 text-4xl">Shoes</h1>
        </div>
        <div class="w-1/3 pt-6 bg-myCardBg rounded-xl shadow-2xl">
            <img src="images/basketball.svg" alt="" class="ml-12 h-96 w-96">
            <h1 class="text-center py-14  text-4xl">Basketball</h1>
        </div>
        <div class="w-1/3 pt-6 bg-myCardBg rounded-xl shadow-2xl">
            <img src="images/shirt.svg" alt="" class="ml-12 h-96 w-96">
            <h1 class="text-center py-14 text-4xl">T-Shirt</h1>
        </div>
       
    </div>
</div>